@{
    ViewBag.Title = "Banned?";
}
@model BannedFromHighsec.Models.IndexViewModel

<div class="container">

    <!-- INFO MESSAGES -->
    @if (TempData["UserMessage"] != null)
    {
        <div class="alert alert-success">
            <strong>Success!</strong> @TempData["UserMessage"]
        </div>
    }

    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger">
            <strong>Error!</strong> @TempData["ErrorMessage"]
        </div>
    }

    <div class="row">

        <div class="col-lg-offset-2 col-lg-8">
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Fool</th>
                        <th>Location</th>
                        <th>Got Rekt Time</th>
                        <th>RIP Ship</th>
                        <th>Isk Value</th>
                        <th>ZkillBoard</th>
                    </tr>
                </thead>
                @{ int i = 1;}
                @foreach (var loss in Model.highsecLosses)
                {
                <tbody>
                    <tr>
                        <td>@i</td>
                        <td><img class="portrait" src="@("http://imageserver.eveonline.com/Character/" + loss.victimID + "_32.jpg")" /> @loss.victimName</td>
                        <td><a href="@("http://evemaps.dotlan.net/system/" + loss.locationName)"> @loss.locationName </a> </td>
                        <td>@loss.killTime</td>
                        <td><img class="portrait" src="@("http://imageserver.eveonline.com/Render/" + loss.victimShipID + "_32.png")" /> @loss.victimShipName</td>
        <!--FORMAT-->   <td>@(loss.victimLostIsk + " Isk")</td>
                        <td><a href="@("http://zkillboard.com/kill/" + loss.killID)"> Zkill </a></td>
                    </tr>
                </tbody>
                    i++;
                }
            </table>            
        </div>
    </div>
</div>