@{
    ViewBag.Title = "Banned?";
}
@model BannedFromHighsec.Models.IndexViewModel

<div class="container">
    <div class="row">

        <div class="col-lg-offset-3 col-lg-7">
            <label>Victim</label><label>Time</label><label>Location</label><label>Ship and Isk Lost</label>
            <ul class="list-group scrollable-menu">
                @foreach (var loss in Model.highsecLosses)
                {
                    <li class="list-group-item">
                        <a href="@("http://zkillboard.com/kill/" + loss.KillId)">
                            <img class="portrait" src="@("http://imageserver.eveonline.com/Character/" + loss.Victim.CharacterId + "_32.jpg")" />
                            @loss.Victim.CharacterName

                            @loss.SolarSystemId <!-- Yes, probably make custom save class/list. With SystemName aswell as default data + shipname !!!! When moving to DB, This is solved-->

                            @loss.KillTime

                            <span class="pull-right">
                                @loss.Victim.ShipTypeId <!--Hit up in DB and save name in own list, or hack other list together with it-->
                                <img class="portrait" src="@("http://imageserver.eveonline.com/Render/" + loss.Victim.ShipTypeId + "_32.png")" />
                                @loss.Stats.TotalValue
                            </span>
                        </a>
                    </li>
                }
            </ul>

            
        </div>

    </div>
</div>