@{
    ViewBag.Title = "Banned?";
}
@model BannedFromHighsec.Models.IndexViewModel

<div class="container">

    <!-- INFO MESSAGES -->
    @if (TempData["UserMessage"] != null)
    {
        <div class="alert alert-success">
            <strong>Success!</strong> @TempData["UserMessage"]
        </div>
    }

    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger">
            <strong>Error!</strong> @TempData["ErrorMessage"]
        </div>
    }

    <div class="row">

        <div class="col-lg-offset-3 col-lg-7">
            <label>Victim</label><label>Time</label><label>Location</label><label>Ship and Isk Lost</label>
            <ul class="list-group scrollable-menu">
                @foreach (var loss in Model.highsecLosses)
                {
                    <li class="list-group-item">
                        <a href="@("http://zkillboard.com/kill/" + loss.killID)">
                            <img class="portrait" src="@("http://imageserver.eveonline.com/Character/" + loss.victimID + "_32.jpg")" />
                            @loss.victimName

                            <!-- Make horizontal space with css or something -->
                            <!-- Add spacer, maybe | -->
                            @loss.locationName 

                            <!-- Make horizontal space with css or something -->
                            <!-- Add spacer, maybe | -->

                            @loss.killTime

                            <span class="pull-right">
                                @loss.victimShipName
                                <img class="portrait" src="@("http://imageserver.eveonline.com/Render/" + loss.victimShipID + "_32.png")" />
                                @(loss.victimLostIsk + " Isk") <!-- format so it looks good-->
                            </span>
                        </a>
                    </li>
                }
            </ul>

            
        </div>

    </div>
</div>